@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logo-marquee {
  animation: marquee-left 45s linear infinite;
}

.logo-marquee:hover {
  animation-play-state: paused;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
